<%= person.name %>, <%= person.age %>, <%= person.id %>, <%= person.createdAt %>

<form action ="/person/delete/1" method="POST">

<button class ="btn btn-danger" type ="submit">Delete</button>

</form>